@font-face {
  font-family: 'impact';
  src: url('../fonts/impact.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.otf');
}

@font-face {
  font-family: 'arialbd';
  src: url('../fonts/arialbd.ttf');
}

@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url('../fonts/AvenirLTStd-Light.otf');
}

@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url('../fonts/AvenirLTStd-Medium.otf');
}

@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url('../fonts/AvenirLTStd-Book.otf');
}

@font-face {
  font-family: 'AvenirLTStd-Black';
  src: url('../fonts/AvenirLTStd-Black.otf');
}

body{
  /* padding-bottom: 20vw; */
  margin: 0;
}
br{
  margin-bottom: 20px;
  content: '';
  display: block;
}
picture{
  width: 100%;
}
/* header start */
header nav{
  background: #16203f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cls-1 {
  fill: #e7202b;
  fill-rule: evenodd;
}

.logoContainer{
  display: flex;
  align-items: center;
}
.logo{
  width: 4.62794vw;
  height: 4.62794vw;
  margin: 2.087vw 0.9074vw 2.1778vw 3.2667vw;
}

.logoInitials{
  height: 4.62794vw;
}

.userIconContainer{
    cursor: pointer;
}

.userIcon{
  height: 4.53720vw;
  margin-right: 2.177858vw;
}

.baner{
  width: calc(100% + 1px);
  left: -1px;
  position: absolute;
}

.welcome{
  position: relative;
  /* font-family: 'AvenirLTStd-Black'; */
  font-family: 'Montserrat-Bold';
  color: white;
  font-size: 8.1vw;
  margin-top: 21.054446vw;
  margin-left: 5.3539vw;
}

.topBGcontainer{
  width: 100%;
  overflow: hidden;
  display: flex;
  /* border: 1px solid blue; */
  position: relative;
  margin-top: 0vw;
}
.topBG{
  width: 100%;
  display: flex;
  position: relative;
  bottom: -4px;
}
.headerContentContainer{
  background: #e60102;
  position: relative;
  padding: 0.1px;
  padding-bottom: 4vw;
  margin-bottom: -2px;
}

.headerImgContainer{
  width: 100%;
  height: 46.2849vw;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
}

.headerImg{
  width: 100%;
  position: relative;
}

.headerContentContainer h1{
  color: white;
  text-align: center;
  position: relative;
  font-weight: 100;
  width: 100%;
  font-family: 'Montserrat-Bold';
  font-size: 6.441vw;
  /* font-weight: 100; */
  margin-top: 20vw;
  margin-left: 0;
}


.headerTextContainer{
  display: flex;
  color: white;
  font-size: 2.17785vw;
  margin-top: 23.7vw;
  padding-left: 4.08348vw;
  padding-right: 4.08348vw;
}

.headerTextContainer p{
  margin: 0;
  font-family: 'Raleway-Medium';
}
.textContainerLeft{
  margin-right: 1.225vw;
}
.textContainerRight{
  margin-left: 1.225vw;
}

.headerContentContainer h3{
  font-size: 2.54083vw;
  color: white;
  font-family: arial;
  margin: 0;
  font-weight: 800;
  text-align: center;
  margin-top: 3vw;
  margin-bottom: 1.3484vw;
  font-family: 'Raleway-Medium';
}
/* header end */

/* ingredientsSection start */
.ingredientsSection{
  padding: 0.1px;
  position: relative;
  overflow: hidden;
}
.carContainer{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carContainer::after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #210001;
  opacity: 0.3;
}
.carContainer img{
  width: 120%;
  position: relative;
  margin-top: 0;
  left: -10%;
  margin-bottom: -1vw;
}
.ingredientContent{
  position: absolute;
  top: 0;
  width: 100%;
}
.ingredientTextBox{
  color: white;
  text-align: center;
}
.ingredientTextBox h2{
  font-size: 6.53357vw;
  font-family: 'Montserrat-Bold';
  margin-top: 7.6vw;
  margin-bottom: 0vw;
}
.ingredientTextBox h3{
  font-size: 2.54083vw;
  font-family: 'Raleway-Medium';
  margin: 0;
  margin-top: 1.7vw;
  width: 95%;
  margin-left: 2.5%;
}
.carSeparateControlContainer{
  display: flex;
  overflow: hidden;
  margin-top: 12.7vw;
  padding: 1px;
  position: relative;
  width: 100%;
}
.carControlImageContainer{
  display: flex;
  width: 85%;
  overflow: hidden;
  flex-shrink: 0;
}
.carControlImageContainerInside{
  width: 500%;
  transition: 1s ease;
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
  position: relative;
  left: 0%;
}
.leftArrowBox{
  width: 7.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightArrowBox{
  width: 7.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popUpLeftArrowBox{
  transform: skewX(10deg);
  transform: rotate(55.5deg);
}
.popUpLeftArrow{
  width: 2.116vw;
  height: 2.116vw;
  /* transform: rotate(45deg); */
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  transform: skewX(25deg);
  transition: 0.5s ease;
  cursor: pointer;
}

.rightPopArrow{
  transform: rotate(-126deg);
  position: relative;
}

.carControlBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  justify-content: center;
}

.carControlBox a{
  position: relative;
  /* height: 8vw; */
}
.carControlBox p{
  font-family: 'Raleway-Medium';
  font-size: 2.5408vw;
  color: white;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
}
.carControlBox img{
  width: 33.2359vw;
}
.carControlBox:nth-child(1) img{
  /* width: 37.0235vw */
}
.nucleo{
  width: 20.2359vw !important;
}
.mitoImage{
  width: 15.2359vw !important;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  margin-top: 5.86vw;
}

.buttonContainer button{
  transition: 0.5s ease;
  width: 38.29vw;
  height: 8.16696vw;
  background: #e60102;
  border: none;
  color: white;
  font-size: 2.90381vw;
  cursor: pointer;
  font-family: 'Montserrat-Bold';
  filter: brightness(1);
}
.buttonContainer button:hover{
  filter: brightness(1.3);
}

.botBGcontainer{
  width: 100%;
  overflow: hidden;
  /* border: 1px solid blue; */
  position: relative;
  margin-top: -2px;
}
.botBG{
  width: 101%;
  position: relative;
  left: -0.5%;
  top: -2px;
}
/* ingredientsSection end */

/* commisionSectionstart */
.commisionSection{
  /* border: 1px solid blue; */
  display: flex;
  margin-top: 2vw;
}
.titleContainer{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1.36116vw solid red;
  width: 45%;
  height: 61.2522vw;
}

.titleContainer h2{
  transition: 0.5s ease;
  font-size: 4.7186vw;
  margin-left: 6.17059vw;
  user-select: none;
  font-family: 'Montserrat-Bold';
}
.selectionBox{
  position: relative;
  /* border: 1px solid blue; */
  cursor: pointer;
  width: fit-content;
  color: #b3b3b3;
}

/* .selectionBox:hover h2{
  color: #e60102;
} */
.selectionBox:hover{
  color: #16203f !important;
}
.selectionBox:hover .selectionUnderline{
  color: #b00d;
  /* width: 20vw !important; */
}
.selected{
  color: #e60102;
  font-weight: 900;
}

.selectionUnderline{
  transition: 1s ease;
  background: #e60102;
  width: 0vw;
  height: 0.907441vw;
  position: absolute;
  top: 9.3vw;
  left: 6.7vw;
}

.selected .selectionUnderline{
  width: 82%;
}

.carTextBox{
  font-size: 2.5408vw;
  width: 55%;
  overflow: hidden;
  overflow: hidden;
}
.carTextMoving{
  display: flex;
  transition: 1s ease;
  width: 300%;
  position: relative;
  left: -100%;
}

.carTextBox p{
  font-family: 'Raleway-Medium';
  margin-left: 5vw;
  margin-right: 5vw;
}
.textOrder{

width: 33.3%;

flex-shrink: 0;
}
/* commisionSection end */

/* featuresSection start */
.featuresSection{
  position: relative;
  margin-top: 3.8vw;
}
.featuredTopBgContainer{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.featuresTopBg{
  width: 100%;
}

.featuresSection h2{
  text-align: center;
  font-size: 6.53357vw;
  font-family: 'arialbd';
  margin-top: 14.7vw;
  color: #16203f;
}

.featuredContainer{
  color: #16203f;
  display: flex;
  justify-content: space-around;
  padding-left: 2vw;
  padding-right: 2vw;
}
.featuredBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat-Medium';
  font-size: 2.90381vw;
  text-align: center;
  width: 30%;
}

.featuredBox img{
  cursor: pointer;
  height: 10.8892vw;
}

.featuredBotBg{
  position: relative;
  margin-top: 3vw;
  width: 49.4555vw;
  margin-bottom: -0.4vw;
}

.rightsReserved{
  position: absolute;
  bottom: 0vw;
  left: 0vw;
  margin-left: 4.17422vw;
  margin-bottom: 3.901996vw;
  color: white;
  font-family: 'Raleway-Medium';
  font-size: 2.17785vw;
}
/* featuresSection end */


/* desktop hide stuf */
.commissionArrowsContainer{
  display: none;
}
